<h1>Iman Awaludhin</h1>
<h2>Engineer</h2>


<button (click)="showCv()">ABOUT ME</button>
<button (click)="showToko()">PRODUCTS</button>
<br>
<br>
<ng-template [ngIf]="cvBlock=='show'">
  <hr>
  <h1>About Me</h1>
  <div>Born 14th September 1984</div>
  <div>Read more novels to see and learn beyond my 10m visions</div>
  <div>Then keep coding to make my world easier</div>
    <br>
  <div>
  WORKING EXPERIENCE <br>
  <br>
  2010–2017<br>
  Telecommunication Engineer – Performance Reporting
  (OSS Engineer) <br>
  •	Extract cellular network data from several sources includes :<br>
  o	OSS Server (via NetAct, U2000, U2020, MOS5200, PRS and other related interface) in the form of raw .xml, .csv or .xlsx.<br>
  o	Field reports and data planning including site lists or map data in the form of .xlsx or .TAB files for MapInfo.<br>
  •	Transform the extracted data to match the projects needs using PHP, Golang or VBA then load them in a local database (MySQL, PostgreSQL or MS Access) to maintain long term trend.<br>
  •	Present the stored network data into KPI reports for analysis and monitoring purposes in the form of Excel reports, PPT Reports, raw data csv, local website or message report like telegram auto broadcast bot.<br>
  <br>
  2017–2021<br>
  Telecommunication Engineer – Radio Network Optimization Engineer (PLO – Huawei Equipment)<br>
  <br>
  •	Configure new integrated 4G Network Element (NE) to meet standard functionality requirement (neighboring parameters and layering parameters on Huawei equipment) that have been assigned by customer.<br>
  •	Analysis root cause and fix or escalate any issue related 4G KPI degradation during monitoring period after new NE was properly configured.<br>
  •	Analysis coverage to improve traffics and channel quality (CQI) of new NE.<br>
  •	Analysis and monitoring cluster to optimize capacity and absorbtion ratio of sites by conducting sharing traffics<br>
  <br>
  <br>
  EMPLOYERS<br>
  <br>
  2010 – 2011<br>
  PT.Nexwave – Performance Reporting (OSS Engineer) on H3I Project<br>
  2011<br>
  PT.Hutchinson 3 Indonesia – Velocent Engineer<br>
  2011 – 2013<br>
  PT.Nexwave – Performance Reporting (OSS Engineer) on H3I Project<br>
  2013 – 2014<br>
  PT.Inspur Indonesia – Performance Reporting (OSS Engineer) on H3I Project<br>
  2014 – 2017<br>
  PT.Nexwave – Performance Reporting (OSS Engineer) on Telkomsel Project<br>
  2017 – 2019<br>
  PT.Nexwave – Radio Network Optimization Engineer (PLO) on Telkomsel Project<br>
  2019 – 2020<br>
  PT.Nexwave – Radio Network Optimization Engineer (PLO) on H3I Project<br>
  2020 – 2021<br>
  PT.Nexwave – Radio Network Optimization Engineer (PLO) on Indosat Project<br>
  <br>
  <br>
  EDUCATION<br>
  2007 – 2010<br>
  Telecommunication Engineering – Bachelor Degree <br>
  at Institute Technology Telkom (IT Telkom – currently Telkom University), Bandung<br>
  <br>
  2003 – 2007<br>
  Diploma of Electrical Engineering – Diploma Degree <br>
  at Telkom School of Technology (STT Telkom – currently Telkom University), Bandung<br>
  <br>
  2000 – 2003<br>
  Geger I Public Highschool (SMA Negeri 1 Geger), Madiun<br>
  <br>
  1997 – 2000<br>
  Dagangan I Public Middle School (SMP Negeri 1 Dagangan),<br>
  Madiun<br>

  1991 – 1997<br>
  Segulung I Public Elementary School (SD Negeri Segulung I),<br>
  Madiun<br>
  <br>
  SKILLS<br> 
  <br>
  Programming (PHP, GoLang, VBA, Java Script, HTML) <br>
  Database (MySQL, PostgreSQL, MsAccess)<br>
  Reporting (Ms Excel, MS Power Point, Tableau)<br>
  <br>
  Jl. Gisik Sari Raya No.09<br>
  RT.06 RW.04 Kel. Sadeng<br>
  Kec. Gunung Pati Kab.Semarang<br>
  Jawa Tengah<br>
  <br>
  Iman.awaw@gmail.com<br>
  <br>
  (+62)821  3767 7978<br> 
  <br>
  </div>
  <hr>
</ng-template>
<ng-template [ngIf]="proToko=='show'">
  <app-jurnal></app-jurnal>
</ng-template>
<app-footer></app-footer>