<hr>
<h2 style="margin:20px;">Jurnal Penjualan Kolor</h2>
<div class="divTable jurnal">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell" style="width:25%;">Code :</div>
            <div class="divTableCell" style="width:75%;"><input type="text" placeholder="[Automatic]"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width:25%;">Item Name :</div>
            <div class="divTableCell" style="width:75%;"><input type="text" placeholder="[Input Item Name]"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width:25%;">Item counts :</div>
            <div class="divTableCell" style="width:75%;"><input type="text" placeholder="[How Many?]"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width:25%;">Single Price :</div>
            <div class="divTableCell" style="width:75%;"><input type="text" placeholder="[Automatic]"></div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell" style="width:25%;">Total :</div>
            <div class="divTableCell" style="width:75%;"><input type="text" placeholder="[Automatic]"></div>
        </div>
    </div>
</div>
<div style="margin: 20px;">
<button [disabled]="true">Reset</button>
<button [disabled]="true">Clear Inputs</button>
<button [disabled]="true">More Item</button>
<button [disabled]="true">Save Transactions</button>
</div><br>
<br>